@import 'mixins/bourbon/bourbon';
@import 'variables';

// Base

* {
  @include box-sizing(border-box);
}

body {
  color: $primary-color;
  background: $background-color;
  box-shadow: inset 0 3px 30px rgba(0,0,0,.3);

  font: $font-size $font-stack;
  font-weight: 200;
}

.clear {
  @include clearfix();
}

// Sections

body > header,
body > section,
body > footer {
  float: left;
  clear: both;

  width: 100%;
}

ul.posts {
  margin: 0;
  padding: 0;
}

ul.posts li {
  list-style-type: none;
}

// Header
body > header h1 {
  margin-top: $header-margin-top;
  margin-bottom: $header-margin-top - 8;

  font-family: $header-font-stack;
  font-size: $header-font-size;
}

body > header h1, body > header nav {
  display: inline-block;
}

header {
  height: 150px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  text-decoration: none;
}

.main-nav {
  margin-top: $header-font-size + 7;
}

.main-nav li {
  margin-right: 10px;
}

.main-nav li a {
  padding-right: 1em;

  text-transform: uppercase;

  font-size: $nav-font-size;

  font-weight: 800;

  @include transition (all .25s);
}

.main-nav li a:hover {
}

.main-nav li.current a {
  color: $secondary-color;
}

.mobile-nav ul {
  display: table;
  overflow: hidden;

  width: 100%;
}

.mobile-nav a {
  float: left;

  width: 100%;
  padding: 5px;
  margin-bottom: 20px;

  text-align: center;
  text-transform: uppercase;

  font-size: $nav-font-size-mobile;
  font-weight: 800;
}

.mobile-nav .current a {
  color: $secondary-color;
}

.mobile-nav li {
  display: table-cell;

  width: 25%;
  padding: 8px;
}

@media (max-width: $medium-screen-size){
  .main-nav ul {
    text-align: right;
  }
}
@media (max-width: $big-screen-size){
  .main-nav .show-on-mobiles {
    display: inline;
  }
  .main-nav .hide-on-mobiles {
    display: none;
  }
}

// Footer

body > footer {
  padding-bottom: 5px;

  font-size: $font-size-small;
}

body > footer a {
  color: $link-color-alt;
}

body > footer .align-right p, body > footer img {
  display: inline-block;
}

body > footer img {
  position: relative;
  top: 8px;

  width: 100px;
  height: 30px;
  margin-left: 5px;
  padding: 1px;

  opacity: .8;

  @include transition (opacity .2s);
}

body > footer a:hover img {
  opacity: 1;
}

@media (max-width: $small-screen-size){
  footer .one-third p {
    margin-bottom: 0;
  }
  footer .two-thirds p {
    margin-top: -20px;
  }
}

// Article
article, aside {
  font-size: $font-size-small;
}

@media (max-width: $small-screen-size){
  article {
    margin: 0;
  }
}

@media (min-width: $medium-screen-size){
  article, aside {
    font-size: $font-size;
  }
}

article > footer {
  font-size: smaller;
}

@media (max-width: $tiny-screen-size){
  article ul {
    padding-left: 20px;
  }
}

article h2,
article h3,
article h4,
article h5,
article h6 {
  margin-top: 1.5em;
}

.content article:first-child h2:first-child {
  margin-top: 0;
}

article h3 {
  color: $secondary-color;
}

article .post-content {
  text-align: justify;
}

article .post-content img {
  margin: 15px;

  &.full {
    margin: 15px 0;
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}


@media (max-width: $tiny-screen-size){
  article .post-content .left {
    float: none;
    text-align: center;
  }
}

article .post-content footer {
  margin-top: 20px;
  border-top: 1px solid #BBB;

  font-size: smaller;
}

article ul li p {
  margin: 0;
}

article ul li, article ol li {
  margin-bottom: 0.5em;

  line-height: 1.5em;
}

article ul li blockquote {
  margin: 10px 0;
}

.post-meta {
  display: inline-block;

  vertical-align: middle;

  font-size: .8em;
}

.post-category {
}

.label {
}

.avatar {
  display: inline-block;

  width: 24px;
  height: 24px;

  vertical-align: middle;

  border-radius: 3px;
}

.post-meta {
  padding: 5px 0;

  color: $primary-color-dim;
}

.content article + article {
  margin-top: -10px;
}

// Code Highlighting

pre, code {
  display: inline-block;

  margin: 0;
  padding: 0;
  padding: 0 .5em;

  white-space: pre;

  font-family: Menlo, $monospace;
  font-size: 0.9em;
  line-height: 1.5em;
}

.highlight {
  overflow: auto;

  width: 100%;
  padding: 15px 20px;
}

.highlight pre {
  padding: 0;
}

.highlight, p > pre, p > code, p > nobr > code, li > code, h5 > code, .note > code {
  color: $primary-color-dark;
  border-radius: 5px;
  background-color: $background-color-code;
  border: 1px solid $border-color-code;
}

.note code {
  margin-right: 2.5px;
  margin-left: 2.5px;

  background-color: rgba(0,0,0,0.2);

  font-size: 0.8em;
}

// Right-side nav

aside h2 {
  font-family: $header-font-stack;
}

aside ul {
  padding-left: 0;
}

aside ul:first-child {
  margin-top: 0;
}

aside li {
  list-style-type: none;
}

aside li a {
  position: relative;

  font-size: $font-size-small;
}

aside li.current a {
  color: $secondary-color;
}

aside li.current a:before {
  content: "» ";
}

// Mobile sidebar

.mobile-sidebar {
  margin: 20px 10%;
}

.mobile-sidebar select {
  width: 100%;
}

// HTML Elements

h1, h2, h3, h4, h5, h6 {
  margin: 0;

  font-family: $header-font-stack;
  font-weight: 400;
}

h5, h6 {
  font-size: 1em;
  font-style: italic;
}

a {
  color: $link-color;

  font-weight: 400;

  @include transition (all .2s);
}

a:hover {
  color: $link-color-hover;
}

h1 a, h2 a, h3 a {
  text-decoration: none;
}

strong {
  font-weight: 700;
}

p {
  line-height: 1.5em;
}

.left { float: left; }
.right { float: right; }
.align-right { text-align: right; }
.align-left { text-align: left; }
.align-center { text-align: center; }

// Article HTML

article blockquote {
  padding-left: 15px;

  border-left: 2px solid #777;

  font-family: $header-font-stack;
  font-weight: 500;
  font-style: italic;
}

td p {
  font-size: $font-size-small;
}

td p code {
  font-size: golden-ratio($font-size, -1);
}

code.option, th .option, code.filter, th .filter {
  color: $code-color-option;
}

code.flag, th .flag, code.output, th .output {
  color: $code-color-flag;
}

code.option, code.flag, code.filter, code.output {
  margin-bottom: 2px;
}

// Note types

.note {
  position: relative;

  margin: 30px 0;
  margin-left: -30px;
  padding: 20px 20px 24px;
  padding-left: 50px;

  color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255,255,255,.2), inset 0 -1px 0 rgba(0,0,0,.3);

  @include linear-gradient(#7e6d42, #5c4e35);
}

@media (max-width: $small-screen-size){
  .note {
    margin-right: -30px;
  }
}

@media (min-width: $medium-screen-size){
  .note {
    margin-left: -50px;
  }
}

.note h5, .note p {
  margin: 0;
}

.note h5 {
  font-weight: 800;
  font-style: normal;
  line-height: 1.5em;
}

.note p {
  font-size: .75em;
  font-weight: 400;
}

.info {
  @include linear-gradient($info-color, $info-color-dark);
}

.warning {
  @include linear-gradient($warning-color, $warning-color-dark);
}

.info:before {
  border-color: transparent $info-color-dark $info-color-dark transparent;
}

.warning:before {
  border-color: transparent $warning-color-dark $warning-color-dark transparent;
}

.note:after {
  position: absolute;
  top: 14px;
  left: 14px;

  content: "★";

  color: $secondary-color;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);

  font-size: 28px;
  font-weight: bold;
}

.info:after {
  position: absolute;
  top: 15px;
  left: 15px;

  content: "ⓘ";

  color: $secondary-color;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);

  font-size: 28px;
  font-weight: bold;
}

.warning:after {
  position: absolute;
  top: 15px;
  left: 15px;

  content: "‼";

  color: $secondary-color;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);

  font-size: 32px;
  font-weight: bold;
}

// Responsive tables

@media (max-width: $medium-screen-size){
  .mobile-side-scroller {
    overflow-x: scroll;

    margin: 0 -40px;
    padding: 0 10px;
  }
}

// About page

.about-pic {
  height: 314px;

  background-image: url('/assets/images/remy-skate-github-400.jpg');
}

// Archives

.archives h2 {
  margin-bottom: 1em;
}
