@import 'mixins/bourbon/bourbon';

// 1. Font stacks
$font-stack: $helvetica;

$header-font-stack:  "bree-serif", $georgia;

// 2. Colors
$background-color:       #fff;
$background-color-light: #eee;
$background-color-dark:  #44281a;
$background-color-code:  #fff8ed;

$primary-color:      #666;
$primary-color-dark: #333;
$primary-color-dim:  #aaa;

$secondary-color: #fdba2d;

$info-color:      #0389aa;
$info-color-dark: #00617f;

$warning-color:      #9e2812;
$warning-color-dark: #6f0d0d;

$code-color-option: #50b600;
$code-color-flag:   #049dce;

$border-color-code: #f6e4cc;

$link-color:       #000;
$link-color-hover: #f37606;
$link-color-alt:   #222;

// 3. Font sizes
$font-size:            20px;
$font-size-small:      20px;
$header-font-size:     48px;
$nav-font-size:        22px;
$nav-font-size-mobile: 27px;

$tiny-screen-size:   480px;
$small-screen-size:  568px;
$medium-screen-size: 768px;
$big-screen-size:    830px;
$huge-screen-size:   1180px;

// 4. Margins
$header-margin-top:  20px;
