@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  color: #666;
  background: #fff;
  box-shadow: inset 0 3px 30px rgba(0, 0, 0, 0.3);
  font: 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200; }

.clear {
  *zoom: 1; }
  .clear:before, .clear:after {
    content: " ";
    display: table; }
  .clear:after {
    clear: both; }

body > header,
body > section,
body > footer {
  float: left;
  clear: both;
  width: 100%; }

ul.posts {
  margin: 0;
  padding: 0; }

ul.posts li {
  list-style-type: none; }

body > header h1 {
  margin-top: 20px;
  margin-bottom: 12px;
  font-family: "bree-serif", Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 48px; }

body > header h1, body > header nav {
  display: inline-block; }

header {
  height: 150px; }

nav ul {
  margin: 0;
  padding: 0; }

nav li {
  display: inline-block; }

nav a {
  text-decoration: none; }

.main-nav {
  margin-top: 55px; }

.main-nav li {
  margin-right: 10px; }

.main-nav li a {
  padding-right: 1em;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 800;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s; }

.main-nav li.current a {
  color: #fdba2d; }

.mobile-nav ul {
  display: table;
  overflow: hidden;
  width: 100%; }

.mobile-nav a {
  float: left;
  width: 100%;
  padding: 5px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 27px;
  font-weight: 800; }

.mobile-nav .current a {
  color: #fdba2d; }

.mobile-nav li {
  display: table-cell;
  width: 25%;
  padding: 8px; }

@media (max-width: 768px) {
  .main-nav ul {
    text-align: right; } }
@media (max-width: 830px) {
  .main-nav .show-on-mobiles {
    display: inline; }

  .main-nav .hide-on-mobiles {
    display: none; } }
body > footer {
  padding-bottom: 5px;
  font-size: 20px; }

body > footer a {
  color: #222; }

body > footer .align-right p, body > footer img {
  display: inline-block; }

body > footer img {
  position: relative;
  top: 8px;
  width: 100px;
  height: 30px;
  margin-left: 5px;
  padding: 1px;
  opacity: .8;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s; }

body > footer a:hover img {
  opacity: 1; }

@media (max-width: 568px) {
  footer .one-third p {
    margin-bottom: 0; }

  footer .two-thirds p {
    margin-top: -20px; } }
article, aside {
  font-size: 20px; }

@media (max-width: 568px) {
  article {
    margin: 0; } }
@media (min-width: 768px) {
  article, aside {
    font-size: 20px; } }
article > footer {
  font-size: smaller; }

@media (max-width: 480px) {
  article ul {
    padding-left: 20px; } }
article h2,
article h3,
article h4,
article h5,
article h6 {
  margin-top: 1.5em; }

.content article:first-child h2:first-child {
  margin-top: 0; }

article h3 {
  color: #fdba2d; }

article .post-content {
  text-align: justify; }

article .post-content img {
  margin: 15px; }
  article .post-content img.full {
    margin: 15px 0;
    width: 100%;
    max-width: 100%;
    height: auto; }

@media (max-width: 480px) {
  article .post-content .left {
    float: none;
    text-align: center; } }
article .post-content footer {
  margin-top: 20px;
  border-top: 1px solid #BBB;
  font-size: smaller; }

article ul li p {
  margin: 0; }

article ul li, article ol li {
  margin-bottom: 0.5em;
  line-height: 1.5em; }

article ul li blockquote {
  margin: 10px 0; }

.post-meta {
  display: inline-block;
  vertical-align: middle;
  font-size: .8em; }

.avatar {
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  border-radius: 3px; }

.post-meta {
  padding: 5px 0;
  color: #aaa; }

.content article + article {
  margin-top: -10px; }

pre, code {
  display: inline-block;
  margin: 0;
  padding: 0;
  padding: 0 .5em;
  white-space: pre;
  font-family: Menlo, "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 0.9em;
  line-height: 1.5em; }

.highlight {
  overflow: auto;
  width: 100%;
  padding: 15px 20px; }

.highlight pre {
  padding: 0; }

.highlight, p > pre, p > code, p > nobr > code, li > code, h5 > code, .note > code {
  color: #333;
  border-radius: 5px;
  background-color: #fff8ed;
  border: 1px solid #f6e4cc; }

.note code {
  margin-right: 2.5px;
  margin-left: 2.5px;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 0.8em; }

aside h2 {
  font-family: "bree-serif", Georgia, Cambria, "Times New Roman", Times, serif; }

aside ul {
  padding-left: 0; }

aside ul:first-child {
  margin-top: 0; }

aside li {
  list-style-type: none; }

aside li a {
  position: relative;
  font-size: 20px; }

aside li.current a {
  color: #fdba2d; }

aside li.current a:before {
  content: "» "; }

.mobile-sidebar {
  margin: 20px 10%; }

.mobile-sidebar select {
  width: 100%; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "bree-serif", Georgia, Cambria, "Times New Roman", Times, serif;
  font-weight: 400; }

h5, h6 {
  font-size: 1em;
  font-style: italic; }

a {
  color: #000;
  font-weight: 400;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s; }

a:hover {
  color: #f37606; }

h1 a, h2 a, h3 a {
  text-decoration: none; }

strong {
  font-weight: 700; }

p {
  line-height: 1.5em; }

.left {
  float: left; }

.right {
  float: right; }

.align-right {
  text-align: right; }

.align-left {
  text-align: left; }

.align-center {
  text-align: center; }

article blockquote {
  padding-left: 15px;
  border-left: 2px solid #777;
  font-family: "bree-serif", Georgia, Cambria, "Times New Roman", Times, serif;
  font-weight: 500;
  font-style: italic; }

td p {
  font-size: 20px; }

td p code {
  font-size: 12.36094px; }

code.option, th .option, code.filter, th .filter {
  color: #50b600; }

code.flag, th .flag, code.output, th .output {
  color: #049dce; }

code.option, code.flag, code.filter, code.output {
  margin-bottom: 2px; }

.note {
  position: relative;
  margin: 30px 0;
  margin-left: -30px;
  padding: 20px 20px 24px;
  padding-left: 50px;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.3);
  background-color: #7e6d42;
  background-image: _deprecated-webkit-gradient(linear, left top, left bottom, #7e6d42, #5c4e35);
  background-image: -webkit-linear-gradient(#7e6d42, #5c4e35);
  background-image: linear-gradient(#7e6d42, #5c4e35); }

@media (max-width: 568px) {
  .note {
    margin-right: -30px; } }
@media (min-width: 768px) {
  .note {
    margin-left: -50px; } }
.note h5, .note p {
  margin: 0; }

.note h5 {
  font-weight: 800;
  font-style: normal;
  line-height: 1.5em; }

.note p {
  font-size: .75em;
  font-weight: 400; }

.info {
  background-color: #0389aa;
  background-image: _deprecated-webkit-gradient(linear, left top, left bottom, #0389aa, #00617f);
  background-image: -webkit-linear-gradient(#0389aa, #00617f);
  background-image: linear-gradient(#0389aa, #00617f); }

.warning {
  background-color: #9e2812;
  background-image: _deprecated-webkit-gradient(linear, left top, left bottom, #9e2812, #6f0d0d);
  background-image: -webkit-linear-gradient(#9e2812, #6f0d0d);
  background-image: linear-gradient(#9e2812, #6f0d0d); }

.info:before {
  border-color: transparent #00617f #00617f transparent; }

.warning:before {
  border-color: transparent #6f0d0d #6f0d0d transparent; }

.note:after {
  position: absolute;
  top: 14px;
  left: 14px;
  content: "★";
  color: #fdba2d;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  font-size: 28px;
  font-weight: bold; }

.info:after {
  position: absolute;
  top: 15px;
  left: 15px;
  content: "ⓘ";
  color: #fdba2d;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  font-size: 28px;
  font-weight: bold; }

.warning:after {
  position: absolute;
  top: 15px;
  left: 15px;
  content: "‼";
  color: #fdba2d;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  font-size: 32px;
  font-weight: bold; }

@media (max-width: 768px) {
  .mobile-side-scroller {
    overflow-x: scroll;
    margin: 0 -40px;
    padding: 0 10px; } }
.about-pic {
  height: 314px;
  background-image: url("/assets/images/remy-skate-github-400.jpg"); }

.archives h2 {
  margin-bottom: 1em; }
